<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">

	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />

	<title>Aggiunta pizze</title>
</head>
<div class="container">

	<!--home button-->
	<a href="/" class="btn btn-secondary text-white mt-4">Torna alla Home</a>

	<h1 class="text-center my-4">Creazione nuova pizza</h1>

	<form th:object="${pizza}" method="POST">
		<!--name-->
		<div class="mb-3">
			<label for="name" class="form-label">Nome pizza</label>
			<div class="input-group">
				<input type="text" class="form-control" id="name" th:field="*{name}">
				<div class="form-text" th:replace="fragments :: errorDiv('name')"></div>
			</div>
		</div>

		<!--description-->
		<div class="mb-3">
			<label for="description" class="form-label">Descrizione (lista degli ingredienti)</label>
			<div class="input-group">
				<textarea class="form-control" id="description" th:field="*{description}" rows="4"></textarea>
				<div class="form-text" th:replace="fragments :: errorDiv('description')"></div>
			</div>
		</div>

		<!--URL immagine-->
		<div class="mb-3">
			<label for="urlImage" class="form-label">Copia qui l'URL dell'immagine</label>
			<div class="input-group">
				<input type="text" class="form-control" id="urlImage" th:field="*{urlImage}">
				<div class="form-text" th:replace="fragments :: errorDiv('urlImage')"></div>
			</div>
		</div>

		<!--Ingredients-->
		<p>Ingredienti:</p>
		<div class="form-check form-check-inline" th:each="ingredient : ${ingredients}" th:object="${ingredient}">

			<input class="form-check-input" type="checkbox" th:id="${'ingredient-' + ingredient.id}" th:value="*{id}"
				th:field="${pizza.ingredients}">
			<label class="form-check-label" for="${'ingredient-' + ingredient.id}">
				[[*{title}]]
			</label>
		</div>

		<!--button-->
		<div class="d-flex justify-content-end mt-4">
			<button type="submit" class="btn btn-primary">Aggiungi pizza</button>
		</div>


	</form>

</div>

<body>

</body>

</html>